h1 {
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

h2 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

h3 {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

p {
  font-size: 40px;
  text-align: center; }

h4 {
  text-align: center; }

.titulo {
  background-color: #cef7d8;
  border: 3px solid black;
  text-align: center; }
  .titulo img {
    width: 110px;
    height: 110px;
    margin: 10px;
    transition-duration: 1s; }
  .titulo img:hover {
    width: 150px;
    height: 150px; }

header nav {
  background: #014116;
  background: linear-gradient(90deg, #014116 60%, #cef7d8 100%); }
  header nav div #navbarScroll {
    background: #014116;
    padding: 20px;
    border: solid 1px white; }
  header nav div img {
    width: 40px;
    height: 40px; }
  header nav div .img1 {
    width: 150px;
    height: 150px; }
  header nav div li {
    list-style: none;
    padding: 15px; }
    header nav div li a {
      margin: 10px;
      padding: 10px;
      border: 1px solid white;
      background: #014116;
      background: linear-gradient(90deg, #014116 60%, #cef7d8 100%);
      text-decoration: none;
      color: white; }

.catalogo {
  text-align: center;
  font-size: 50px; }
  .catalogo a {
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    transition-duration: 1s; }
  .catalogo a:hover {
    background-color: #7e7c7c; }

.productos div {
  width: 225px;
  height: 350px;
  border: 1px solid black;
  background-color: #cef7d8;
  text-align: center;
  margin: 30px;
  display: inline-block;
  transition-duration: 1s; }
  .productos div .boton {
    text-decoration: none;
    padding: 5px;
    background-color: black;
    color: white; }

.productos div:hover {
  background-color: white;
  width: 250px;
  height: 400px; }

main section .texto {
  border: 5px solid black;
  background-color: #cef7d8; }

main section img {
  width: 223px;
  height: 223px;
  transition-duration: 1s; }

main section img:hover {
  width: 246px;
  height: 246px; }

main section div label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

footer div {
  display: inline-block;
  margin: 10px; }
  footer div img {
    width: 40px;
    height: 40px; }
